#fn, #ln, #email, #phone, #gender,
#upfn, #upln, #upemail, #upphone
{
    margin-bottom: 8px;
    margin-top: 5px;
    width: 300px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 5px;
    padding-right: 5px;
}
.lb{
    font-size: larger;
}
#cancelButton, #cancelButton1{
    margin-left: 10px;
}
#cancelButton1 {
    display: block;
    margin-top: 10px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 70, 78);
    color: white;
}
#female{
    margin-bottom: 10px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%; /* Đảm bảo footer chiếm toàn bộ chiều rộng của trang */
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
.row {
    width: 100%;
}
.row table {
    table-layout: fixed;
    width: 100%;
}
.row table.head {
    width: calc(100% - 15px);
}
.row table.head tr td {
    background: #eee;
    color: black;
    font-weight: bolder;
    font-family: Calibri;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #b8b6b6;
    border-bottom: 1px solid #b8b6b6;
}

table tr td {
    border: 1px solid #eee;
    padding: 5px;
    word-wrap: break-word;
}
.scroll-table {
    height: 200px;
    overflow-y: auto;
}
#myTopnav1, .header, .Catalog{
    min-width: 900px;
}
.lock-label {
    display: flex;
    align-items: center;
    justify-content: center;
}
#detail{
    text-decoration: none;
    color: rgb(54, 54, 61);
}
#buttLock{
    border: none;
    box-shadow: 4px 4px 10px rgb(180, 177, 177);
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}
#buttLock:hover{
    background-color: #aaaaaa;
}
.head th{
    font-family: Calibri;
}
