form {
    padding: 20px; /* Khoảng cách nội dung từ mép form */
    border: 1px solid #ccc; /* Đường viền của form */
    border-radius: 20px; /* Bo tròn góc của form */
    margin: auto;
    background-color: white; /* Màu nền của form */
}
h2{
    text-align: center;
    margin: unset;
    color: rgb(252, 0, 117);
    margin-bottom: 10px;
    font-family: 'Segoe UI';
}
#new_password,#confirm_password,#current_password{
    width: 97%;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-left: 10px;
}
body{
    background-color: #ffcae4c6;
}
label{
    color: gray;
    font-family: sans-serif;
}
#butt{
    background-color: rgb(252, 0, 117);
    border: none;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    float: right;
    color: white;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.row {
    display: flex; /* Sử dụng flexbox để căn chỉnh các cột */
    flex-wrap: wrap; /* Cho phép các cột xuống dòng khi không đủ không gian */
    margin: 0 -15px; /* Tạo lề âm bên trái và bên phải */
    align-items: center;
    height: 100vh;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }



