img{
    width: 80%;
    max-height: 400px;
    border-radius: 15px;
}
#img{
    width: 100%;
    margin-left: 1vw;
    margin-top: 6vh;
}
tr{
    max-height: 10px;
}
#button{
    text-align: right;
    padding-right: 9%;
}
#choose {
    margin-bottom: 15px;
}
  
#image {
    display: none;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem 0 0 .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    color: #fff;
    background-color: rgb(106, 107, 108);
    border-color: rgb(106, 107, 108);
    font-family: Calibri;
}

.btn:hover {
    background-color: rgb(56, 56, 57);
    border-color: rgb(56, 56, 57);
}

.uploadDiv {
    margin-bottom: 15px;
    display: flex;
    margin-top: 15px;
    width: 80%;
    margin-left: 1vw;
}

#image {
    display: none;
}

#fileNameContainer {
    padding: .375rem .75rem;
    border: 1px solid #adacac;
    border-radius: 0 .25rem .25rem 0;
    display: inline-block;
    width: 100%;
    min-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-content: center;
    vertical-align: middle;
    color: #515151;
    font-family: Calibri;

}
.infTab {
    display: flex; /* Sử dụng flexbox để các phần tử nằm cùng một hàng */
}
#picFrame, #infFrame {
    flex: 1; /* Đặt cả hai phần tử tự mở rộng */
}
h2{
    text-align: center;
    font-family: Calibri;
}
label, #state, #active{
    font-size: 3.5vh;
    font-family: Calibri;
}
p{
    padding: auto;
    margin: auto;
}
td, p{
    padding-bottom: 20px;
}
#state{
    padding-bottom: 10px;
}
#stateAc{
    font-size: 15px;
    color: rgb(12, 163, 12);
}
table{
    width: 98%;
}
#name, #username, #email, #role, #gender, #phone{
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 8px;
    font-size: 16px;
}
#save, #change{
    display: block;
    margin-top: 10px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 5px;
    border: none;
    background-color: rgb(87, 102, 114);
    color: white;
    margin-right: 10px;
}
#save:hover, #change:hover{
    background-color: rgb(60, 70, 78);
}
#active{
    padding-bottom: 13px;
    color: rgb(14, 164, 14);
}
.module_item {
    text-align: center; /* Căn giữa nội dung */
    margin: 5px; /* Khoảng cách giữa các module */
    width: 100px;   
}
.module_item a:first-child {
    display: block; /* Đảm bảo ảnh là một block element */
    margin: 0 auto; /* Căn ảnh giữa module */
}

.module_item a:last-child {
    display: block; /* Đảm bảo chữ là một block element */
    margin-top: 5px; /* Khoảng cách giữa ảnh và chữ */
}
.footer{
    /* Thiết lập một số thuộc tính CSS cho footer */
    background-color: #f8f9fa; /* Màu nền */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
    padding: 20px; /* Khoảng cách giữa nội dung và viền */
    margin: 0; /* Khoảng cách giữa footer và phần nội dung khác */
    display: flex; /* Sử dụng flexbox để căn chỉnh các phần tử con */
    align-items: center; /* Căn giữa theo chiều dọc */
    text-align: center;
    justify-content: center; /* Căn giữa theo chiều ngang */
    position: 0 0 0 0 ;
}
.header {
    position: relative;
    /* Thiết lập một số thuộc tính CSS cho footer */
    background-color: #6c757d; /* Màu nền */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
    padding: 20px; /* Khoảng cách giữa nội dung và viền */
    margin: 0; /* Khoảng cách giữa footer và phần nội dung khác */
}
.header .hd1{
    text-align: center; /* Căn giữa nội dung */
    font-family:'Trebuchet MS';/*, 'Arial Narrow', Arial, sans-serif*/
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}
.header .hd2{
    text-align: right;
    font-size: 130%;
    color: white;
    padding-right: 10px;
    
}
.header h2{
    font-size: 200%;
    color: white;
    padding-left: 0px;
}
.hd2 a{
    font-family: 'Corbel';
    color: white;
    text-decoration: none;

}
.hd{
    background-color: rgba(13, 36, 53, 0.872);
    text-align: center;
    
}
.hd h4{
    padding: 10px;
    color: white;
    font-family: sans-serif;
    vertical-align: bottom;
    margin: 0px;
}
.hd1, .hd2{
    background-color: rgba(0, 0, 0, 0.664);
}
.hd1 h2{
    margin: auto;
    padding: 20px;
}
.hd1{
    padding-top: 15px;
}
.hd2{
    padding-bottom: 10px;
}
.header{
    padding: 0px;
}
body{
    margin: auto;
}
.t1{
    font-family: sans-serif;
    text-align: center;
    color: rgba(13, 36, 53, 0.872);
}

/* Style for top navigation */
.topnav {
    background-color: #f8f9fa;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Style for menu list */
.menu_list {
    display: none;
    background-color: #f8f9fa;
    overflow: hidden;
    list-style-type: none;
}

.menu_list li {
    float: none;
}

.menu_list li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu_list li a:hover {
    background-color: #ddd;
    color: black;
}
@media screen and (max-width: 768px) {
    #myTopnav1{
        display: block;
    }
    #myTopnav{
        display: none;
    }
}
@media screen and (min-width: 768px) {
    #myTopnav1{
        display: none;
    }
    .menu_list {
        display: none;
    }
}
ul{
    margin: auto;
}
#myTopnav1 a{
    padding: 10px;
}
#myTopnav1 svg{
    width: 20px;
}
.content{
    min-width: 600px;
    max-width: 1200px;
}
#picFrame{
    padding-left: 8vw;
    padding-right: 2vw;
}
#upload{
    padding: 10px 20px 10px 20px;
    background-color: rgb(106, 107, 108);
    border: none;
    border-radius: 10px;
    color: white;
    align-items: center;
}
#upload:hover {
    background-color: rgb(56, 56, 57);
}



.dialog, .update_dialog, .delete_dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.dialog_content, .update_dialog_content, .delete_dialog_content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(222, 227, 231);
}

#addButton, #updateButton, #cancelButton, #cancelButton2, #deleteButton {
    display: block;
    margin-top: 10px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgb(60, 70, 78);
    color: white;
}
#deleteButton{
    float: left;
}

#cancelButton2{
    margin-left: 10px;
}


.notification {
    position: fixed;
}

.error-notification {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d22222;
    color: white;
    padding: 20px;
    border-radius: 10px;
    z-index: 1001;
    transition: opacity 0.5s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Độ mờ của overlay */
    z-index: 999; /* Đảm bảo overlay nằm trên tất cả các phần tử khác */
    display: none; /* Ẩn ban đầu */
}


.success {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #0c7f1e;
    color: white;
    border-radius: 10px;
    z-index: 1001;
    font-size: 16px;
}
