.reset-pass {
    background-color: #f0f0f0; 
    width: 70%; 
    max-width: 600px;
    max-height: 800px;
    border-radius: 10px; 
    padding: 20px;
}
h2{
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    color: rgb(29, 29, 29);
    font-family: Calibri;
}
#pass, #new_pass, #confirm_pass{
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 8px;
}
label{
    color: rgb(29, 29, 29);
    font-family: Calibri;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group{
    width: 100%;
}
.btn{
    background-color: rgb(81, 79, 79);
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid gray;
    color: white;   
    float: right;
}
.error-message {
    color: red;
    margin-top: 10px;
}
