.hd{
    background-color: rgba(13, 36, 53, 0.872);
    text-align: center;
    
}
.hd h4{
    padding: 10px;
    color: white;
    font-family: sans-serif;
    vertical-align: bottom;
    margin: 0px;
}
.hd1, .hd2{
    background-color: rgba(0, 0, 0, 0.664);
}
.hd1 h2{
    margin: auto;
    padding: 20px;
}
.hd1{
    padding-top: 15px;
}
.hd2{
    padding-bottom: 10px;
}
.header{
    padding: 0px;
}
body{
    margin: auto;
}
#home_module_list{
    min-height: 100px;
}
.t1{
    font-family: sans-serif;
    text-align: center;
    color: rgba(13, 36, 53, 0.872);
}
