.modal{
    display: none;
    position: fixed;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    margin: 15%;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;

    margin: 15%;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#table_modal th, #table_modal td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin: 10px;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-add-button{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    cursor: pointer;

    background-color: lightgray;
    color: white;
}

#modal-add-button:hover{
    background-color: gray;
}